#footer {
    background-image: url(../../../public/assets/mountain.jpg);
    background-position: 5% 65%;
    border-top: solid;
    border-color: black;
    width: 100.9%
}

.footer-text {
    font-size: 24px;
